* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.navBarwrapper {
  display: flex;
  height: 80px;
  align-items: center;
  justify-content: center;
  padding-top: 40px;
  padding-bottom: 40px;
  /* border: 1px solid black; */
}
.navBar {
  display: flex;
  height: 56px;
  width: 78%;
  align-items: center;
  justify-content: space-between;
  /* border: 1px solid red; */
}

.navBar img {
  width: 50.34px;
  height: 56px;
}

.navBarTitle {
  font-family: "Roboto";
  font-style: normal;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
}

.middleSection {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #e0334c;
  height: 800px;
  gap: 80px;
  padding: 140px 220px;
}

.middleSectionTitle {
  display: flex;
  flex-direction: column;
  gap: 24px;
  height: 359px;
  width: 612px;
}

.middleSectionTitle h3 {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 24px;
  line-height: 28.8px;
  letter-spacing: -2%;
  color: white;
}

.title {
  display: flex;
  flex-direction: column;
  gap: 24px;
  width: 100%;
  height: 359px;
}

.titlePara1 {
  font-family: "Inter";
  font-weight: 700;
  font-style: normal;
  font-size: 44px;
  color: white;
  /* line-height: 67px; */
  letter-spacing: -2%;
  width: 500px;
}

.titlePara2 {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 19px;
  line-height: 30px;
  letter-spacing: -2%;
  height: 60px;
  color: white;
  width: 600px;
}

.playstorebtn {
  height: 56px;
}

.downloadbtn {
  display: flex;
  gap: 16px;
  /* height: 80px;
    width: 412px;
    border: 1px solid white; */
}

.GroupPhone {
  /* padding-right: 49px; */
  /* border: 1px solid black; */
}

.GroupPhone img {
  width: 527px;
  height: 640px;
}

.services {
  height: 926px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* align-items: center; */
  gap: 80px;
  padding-top: 140px;
  padding-bottom: 60px;
  padding-left: 80px;
  padding-right: 80px;
}

.chooseUs {
  height: 86px;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.serviceTitle {
  font-family: "inter";
  font-weight: 700;
  font-size: 40px;
  line-height: 48px;
  text-align: center;
}

.chooseUs span {
  font-family: "inter";
  font-weight: 500;
  font-size: 18px;
  line-height: 21.6px;
  text-align: center;
}

.serviceCardsWrapper {
  width: 100%;
  height: 540px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 32px;
  /* border: 1px solid white; */
}

.serviceCards {
  height: 480px;
  width: 373px;
  padding-left: 24px;
  padding-top: 24px;
  border-radius: 16px;
  gap: 24px;
  display: flex;
  flex-direction: column;
  background-color: #ffeff1;
  position: relative;
}

.cardDetails {
  width: 340px;
  height: 130px;
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.cardDetails h3 {
  font-family: "inter";
  font-weight: 700;
  font-size: 20px;
  line-height: 28px;
}

.cardDetails p {
  font-family: "inter";
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
}

.cardsImage {
  width: 340px;
  height: 316px;
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  /* border: 1px solid red; */
  margin-bottom: 0px;
}

.cardsImage2 {
  width: 340px;
  height: 316px;
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  /* border: 1px solid red; */
  margin-bottom: 0px;
  position: relative;
}

.cardsImage2 img {
  width: 240px;
  height: 280px;
  border-bottom-right-radius: 8px;
  /* border: 1px solid black; */
  margin: 0;
  position: relative;
  bottom: -4px;
}

.cardsImage img {
  width: 240px;
  height: 280px;
  border-bottom-right-radius: 8px;
}

.orderbtn {
  width: 160px;
  height: 44px;
  background-color: white;
  color: #e0334c;
  box-shadow: 0.5px 0px 3px black;
  position: absolute;
  top: 100px;
  left: 30px;
  border-radius: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.orderBtn {
  width: 160px;
  height: 44px;
  background-color: white;
  font-size: 14px;
  line-height: 20px;
  border-radius: 8px;
  color: #e0334c;
  font-family: "inter";
  font-weight: 500;
  border: none;
}

.frame {
  position: absolute;
  top: 230px;
  left: 90px;
}

.frame img {
  width: 255x;
  height: 109px;
}

.downloadWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: auto;
  display: flex;
  gap: 80px;
  padding-left: 74px;
  padding-right: 74px;
  padding-top: 80px;
  padding-bottom: 80px;
  color: white;
}

.downloadInforWrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 300px;
  width: 100%;
  /* width:screen; */
  border-radius: 16px;
  background-color: #e0334c;
  padding: 56px;
}

.downlaodInfor {
  display: flex;
  flex-direction: column;
  gap: 24px;
  width: 686px;
  height: 218px;
}

.downloadDetails {
  display: flex;
  flex-direction: column;
  height: 122px;
  gap: 24px;
}

.downloadDetails h3 {
  font-family: "inter";
  font-size: 32px;
  font-weight: 600;
}

.downloadDetails p {
  font-family: "inter";
  font-size: 20px;
  font-weight: 400;
  line-height: 30px;
}

.downloadButton {
  display: flex;
  gap: 16px;
  height: 72px;
  padding: 16px 0px 0px 0px;
}

.qrcode {
  display: flex;
  flex-direction: column;
  gap: 16px;
  height: 208px;
  width: 160px;
}

.qrcode img {
  width: 160px;
  height: 160px;
}

.qrcode span {
  font-family: "inter";
  font-weight: 500;
  font-size: 16px;
  line-height: 32px;
  text-align: center;
}

.faqContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 48px;
  height: auto;
  padding-top: 64px;
  padding-bottom: 64px;
}

.faqTitle {
  display: flex;
  flex-direction: column;
  gap: 24px;
  height: 109px;
}

.faqTitle p {
  font-family: "inter";
  font-weight: 700;
  font-size: 48px;
  text-align: center;
}

.faqTitle span {
  font-family: "inter";
  font-weight: 400;
  font-size: 18px;
  line-height: 27px;
  text-align: center;
}

.faqWrapper {
  display: flex;
  flex-direction: column;
  gap: 29px;
  /* height: 670px; */
  width: 960px;
}

.frame1 {
  display: flex;
  width: 960px;
  height: 219px;
  border: 2px solid #e0334c;
  border-radius: 14px;
  padding-left: 39px;
  padding-right: 39px;
  padding-top: 36px;
  padding-bottom: 36px;
  align-items: center;
  justify-content: center;
  box-shadow: 0px 6px 16px 0px #e0334c30;
}

.arrowWrapper {
  display: flex;
  flex-direction: column;
  gap: 6px;
  width: 840px;
  height: 150px;
  /* align-items: le; */
  justify-content: center;
  /* padding: 10px; */
}

.arrowDownWrapper {
  display: flex;
  height: 50.6px;
  align-items: center;
  justify-content: space-between;
}

.arrowdown {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50.6px;
  height: 50.6px;
  background-color: #e0334c;
  border-radius: 50%;
}

.arrowWrapper h3 {
  font-family: "inter";
  font-weight: 500;
  font-size: 22px;
  line-height: 28px;
}

.arrowdownInfor {
  font-family: "inter";
  font-weight: 400;
  font-size: 15px;
  line-height: 30px;
  width: 638px;
}

.smallFrames {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 131px;
  width: 960px;
  padding-left: 55px;
  padding-right: 55px;
  padding-top: 39px;
  padding-bottom: 39px;
  box-shadow: 0px 5px 16px 0px #2b1a1c0f;
  border-radius: 18px;
}

.smallFramesInfor {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 900px;
  height: 50.6px;
  /* border: 1px solid black; */
}

.smallFramesInfor h3 {
  font-family: "inter";
  font-size: 22px;
  line-height: 28px;
  font-weight: 500;
}

.smallFramesInfor span {
  width: 50.6px;
  height: 50.6px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  box-shadow: 0px 5px 16px 0px #080f340f;
}

.footer {
  display: flex;
  flex-direction: column;
  height: 331px;
  gap: 10px;
  padding: 50px;
  border-top: 1px solid #d9dbe9;
}

.footerWrapper {
  height: 241px;
  display: flex;
  align-items: center;
  /* justify-content: center; */
  width: 100%;
  gap: 20px;
  padding-left: 40px;
  padding-top: 120px;
  padding-bottom: 120px;
}

.footerSectionOne {
  width:310.36px;
  height:207px;
  gap: 24px;
  opacity: 0px;
  display: flex;
  flex-direction: column;
  gap: 24px;
  margin-right: 60.6px;
  /* border: 1px solid red; */
}

.footerSectionOne img {
  width: 80px;
  height: 80px;
}

.footerSectionOne p {
  font-family: "inter";
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
}
.socialIcons {
  display: flex;
  align-items: center;
  /* justify-content: center; */
  gap: 22px;
  height: 19px;
}

.footerSectionTwo {
  display: flex;
  gap: 40px;
  width: 412px;
  height:208px;
  /* margin-right: 30px; */
  opacity: 0px;
  
}

.footerSectionTwoWrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 412px;
  height:208px;
  gap: 24px;
  opacity: 0px;
  /* border: 1px solid red; */
}

.footerSectionTwoWrapper h3 {
  font-family: "Inter";
  font-size: 20px;
  font-weight: 700;
  line-height: 22px;
  text-align: left;
}

.email {
  height: 20px;
  display: flex;
  margin-top: 15px;
  gap: 5px;
  align-items: center;
  line-height: 30px;
  font-size: 18px;
  font-weight: 400;
  font-family: "DM sans";
}

.email span {
  font-style: normal;
  font-family: "DM Sans";
  font-size: 18px;
  font-weight: 400;
  line-height: 20px;
  text-align: center;
}

.phone {
  height: 20px;
  display: flex;
  gap: 5px;
  align-items: center;
  line-height: 30px;
  font-size: 18px;
  font-weight: 400;
  font-family: "DM sans";
}

.phone span {
  font-style: normal;
  font-family: "DM Sans";
  font-size: 18px;
  font-weight: 400;
  line-height: 20px;
  text-align: center;
}

.location {
  height: 40px;
  display: flex;
  justify-content: flex-end;
  /* margin-top: 20px; */
  /* align-items:last baseline; */
  /* gap: 5px; */
  /* align-items:flex-start; */
  /* border: 1px solid red; */
}

.location img {
  width: 20px;
  height: 25.7px;
  gap: 0px;
  opacity: 0px;
  /* border: 1px solid red; */
}

.location span {
  font-style: normal;
  font-family: "DM Sans";
  font-size: 18px;
  font-weight: 400;
  line-height: 20px;
  text-align: left;
  margin-left: 10px;
  color: #000000;
  padding: 0;
}

.rightFooterSectionTwo {
  width: 200px;
  height: 120px;
  font-weight: 400;
  font-family: "inter";
  line-height: 20px;
  /* border: 1px solid red; */
}

.footerchooseUs {
  margin-top: 30px;
  font-size: 15px;
  font-weight: 400;
  font-family: "DM sans";
}

.footerFaq {
  margin-top: 10px;
  font-weight: 400;
  font-family: "DM sans";
}

.footerQrcode {
  width: 160px;
  height: 208px;
  display: flex;
  color: #e0334c;
  flex-direction: column;
  align-items: center;
  gap: 16px;
  margin-left: 80px;
}

.footerQrcode img {
  width: 160px;
  height: 160px;
}

.footerQrcode span {
  font-family: "inter";
  font-weight: 500;
  font-size: 16px;
}

.horizontalRule {
}

.horizontalRule hr {
  /* width:800px ; */
  margin-top: 12px;
  border: 1px solid #d9dbe9;
}

.footerNote {
  display: flex;
  justify-content: space-between;
  padding: 15px;
  font-family: "DM sans";
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  color: rgba(0, 0, 0, 0.6);
}

@media only screen and (max-width: 600px) {
  .GroupPhone > img {
    height: 415px;
    width: 342px;
  }

  /* .footerNote {
    width: 100%;
    height: auto;
    border: 1px solid green;
  } */

  .middleSection {
    flex-wrap: wrap;
    gap: 80px;
    height: 981px;
    width: 100%;
    padding-top: 56px;
    padding-bottom: 56px;
    padding-left: 24px;
    padding-right: 24px;
    align-items: normal;
  }

  .navBarwrapper {
    width: 100%;
    height: 80px;
    padding: 0px 24px 0px 24px;
  }
  .navBar {
    width: 342px;
    height: 56px;
  }

  .services {
    width: 100%;
    height: auto;
    padding-top: 140px;
    padding-bottom: 140px;
    padding-left: 24px;
    padding-right: 24px;
    gap: 80px;
  }

  .chooseUs {
    width: 342px;
    height: 102px;
    gap: 16px;
  }

  .chooseUs span {
    font-size: 16px;
    line-height: 24px;
    text-align: center;
  }

  .serviceTitle {
    font-size: 32px;
    line-height: 38.4px;
  }

  .serviceCardsWrapper {
    flex-wrap: wrap;
    width: 342px;
    height: auto;
    gap: 32px;
  }

  .serviceCards {
    width: 342px;
    height: 480px;
    gap: 24px;
    padding: 18px;
  }

  .cardDetails {
    width: 294px;
    height: 124px;
    gap: 24px;
  }

  .cardDetails h3 {
    font-family: "inter";
    font-weight: 700;
    font-size: 20px;
    line-height: 28px;
  }

  .cardDetails p {
    font-family: "inter";
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
  }

  .cardsImage {
    width: 325px;
    height: 316px;
    /* margin-bottom: -8px; */
    /* border: 1px solid red; */
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
  }

  .cardsImage img {
    width: 215px;
    height: 314px;
    float: right;
    border-bottom-right-radius: 16px;
  }

  .orderbtn {
    top: 100px;
    left: 8px;
  }

  .frame {
    top: 235px;
    left: 75px;
  }

  .frame img {
    width: 255px;
    height: 108px;
  }

  .downloadWrapper {
    display: none;
  }

  .arrowWrapper h3 {
    width: 210px;
    height: 56px;
    font-size: 20px;
  }

  .faqContainer {
    width: 100%;
    height: 1100px;
    gap: 48px;
    padding: 64px 24px 64px 24px;
  }

  .faqTitle {
    width: 100%;
    height: 127px;
    gap: 24px;
  }

  .faqTitle p {
    font-size: 32px;
  }

  .footer {
    width: 100%;
    height: auto;
    flex-wrap: wrap;
    padding: 2px;
    gap: 32px;
    flex-direction: column;
  }

  .footerWrapper {
    width: 100%;
    height:600px;
    flex-direction: column;
    gap: 32px;
    padding: 10px;
    align-items: center;
    /* border: 1px solid red; */
    /* padding-bottom: 0px; */
  }

  .footerSectionOne {
    width:310.36px;
    height:207px;
    gap: 24px;
    opacity: 0px;
    display: flex;
    flex-direction: column;
    /* margin-right: 60.6px; */
    /* border: 1px solid red; */
  }

  .allRights {
    display: none;
  }

  .footerSectionTwo {
      flex-direction: column;
      gap: 40px;
      width: 100%;
      height:368px;
      opacity: 0px;
      padding: 20px;
      /* border: 1px solid black;  */
  }

  .faqWrapper {
    width: 342px;
    height: 625px;
    gap: 29px;
  }

  .frame1 {
    width: 342px;
    height: 274px;
    padding: 16px;
    gap: 10px;
  }

  .arrowWrapper {
    width: 100%;
    height: 242px;
    gap: 6px;
  }

  .arrowDownWrapper {
    width: 100%;
    height: 56px;
  }

  .arrowdownInfor {
    width: 310px;
    font-size: 16px;
  }
  .smallFrames {
    width: 342px;
    height: 88px;
    padding: 16px;
    gap: 10px;
  }

  .smallFramesInfor {
    width: 100%;
    height: 56px;
  }
  .smallFramesInfor h3 {
    font-size: 20px;
    width: 205px;
  }

  .footerQrcode {
    display: none;
  }

  .titlePara1 {
    font-size: 28px;
    width: 344px;
    line-height: 38px;
  }

  .titlePara2 {
    font-weight: 400;
    font-size: 16px;
    line-height: 30px;
    letter-spacing: -2%;
    height: 60px;
    width: 342px;
  }

  .downloadbtn {
    flex-wrap: wrap;
    width: 100%;
    height: 128px;
    gap: 16;
  }

  .downloadbtn img {
    width: 342px;
    height: 76px;
  }

  .middleSectionTitle {
    width: 342px;
    height: 375px;
    gap: 52px;
  }

  .title {
    display: flex;
    flex-direction: column;
    gap: 24px;
    width: 100%;
    height: 215px;
  }

  .cardsImage2 {
    /* border: 1px solid red; */
    width: 325px;
    margin-bottom: -80px;
    position: relative;
    height: 316px;
  }

  .cardsImage2 img {
    margin-right: 0px;
    margin-bottom: 0px;
    width: 215px;
    height: 316px;
  }

  .orderbtn {
    /* display: none; */
  }

  .footerSectionTwoWrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 227px;
    height:208px;
    gap: 24px;
    opacity: 0px;
    /* border: 1px solid red; */
  }

  .location {
    height: 40px;
    width: 227px;
    /* border: 1px solid black; */
  }

  .location span {
    font-style: normal;
    font-family: "DM Sans";
    font-size: 18px;
    font-weight: 400;
    line-height: 20px;
    /* text-align: left; */
    /* margin-left: 10px; */
    color: #000000;
    /* padding: 0; */
    /* width: 180px; */
    /* margin-right: 180px; */
    /* border: 1px solid red; */
  }
}
